name: Release

on:
  workflow_dispatch:
    # inputs:
    #   tag:
    #     description: "New tag name"
    #     required: true

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "poetry"

      - name: Install dependencies
        run: |
          # poetry env use "3.11"
          poetry install

      - name: Build executable
        run: poetry run python release/build.py

      - name: Finalizing build (Linux)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          NAME=$(basename dist/*)
          cd dist/
          zip -r ${NAME}.zip *

      - name: Finalizing build (Windows)
        if: matrix.platform == 'windows-latest'
        run: |
          $FirstFile = Get-ChildItem "dist" | Select-Object -First 1
          $Name = $FirstFile.BaseName
          Set-Location "dist"
          7z a "$NAME.zip" *

      - name: Finalizing build (Darwin)
        if: matrix.platform == 'macos-latest'
        run: |
          cd dist/
          NAME=$(basename $(find . -type d -name "*.app"))
          zip -r ${NAME%.*}.zip $NAME

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            dist/*
